{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load cache %}
{% block title %}
{% trans 'Лист выполненных работ' %}
{% endblock %}

{% block link %}
{% cache 6000 completed_works %}
<link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'my_js/myjs.js' %}"></script>
{% endcache %}
{% endblock %}

{% block content %}
<div style="width:40rem;height:10rem;">
    <a href="{% url 'completed_works:completed_works_delivery' %}">
        <button class="btn-grad btn-gradient-border btn-glow" style="margin-bottom:2rem;">
            Заполнить поставку
        </button>
    </a>
</div>

<div style="width:40rem;height:10rem;">
    <p>При заполнении "Другие работы" необходимо указать комментарий, что именно они в себя включали</p>
</div>

<div class="gradient-border" id="box" style="width:40rem;">
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="narrower-input2" style="font-size: 14px;padding-top:15px;">{{ form.date.label }}</span>
            <input type="{{ form.date.field.widget.input_type }}"
                   name="{{ form.date.name }}"
                   class="{% if form.date.errors %} error{% endif %} narrower-input2"
                   id="{{ form.date.id_for_label }}"
                   placeholder="0"
                   {% if form.date.value %} value="{{ form.date.value }}" {% endif %}>
            {% if form.date.errors %}
            <div class="error-message">
                {{ form.date.errors }}
            </div>
            {% endif %}
        </div>

        {% for field in form %}
        {% if field.name != 'user' and field.name != 'date' and field.name != 'comment' %}
        <div class="input-group mb-3">
            <span class="narrower-input2" style="font-size: 14px;padding-top:15px;">{{ field.label }}</span>
            <input type="{{ field.field.widget.input_type }}"
                   name="{{ field.name }}"
                   class="{% if field.errors %} error{% endif %} narrower-input2"
                   id="{{ field.id_for_label }}"
                   placeholder="0"
                   {% if field.value %} value="{{ field.value }}" {% endif %}>
            {% if field.errors %}
            <div class="error-message">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="input-group mb-3">
            <span class="narrower-input2" style="font-size: 14px;padding-top:15px;">{{ form.comment.label }}</span>
            <textarea
                    name="{{ form.comment.name }}"
                    class="form-control"
                    id="{{ form.comment.id_for_label }}"
                    rows="10"
                    placeholder="Текст комментария"
                    style="font-size: 14px;"
            >

            </textarea>
            {% if form.comment.errors %}
            <div class="error-message">
                {{ form.comment.errors }}
            </div>
            {% endif %}
        </div>
        <div class="centered-button">
            <button type="submit" class="btn-grad btn-gradient-border btn-glow">Отправить</button>
        </div>
    </form>
</div>

{% endblock %}
