{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% trans 'Лист выполненных работ' %}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'my_js/myjs.js' %}"></script>
{% endblock %}

{% block content %}

<div class="gradient-border" id="box">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-group mb-3">
            <span class="narrower-input2" style="font-size: 14px;padding-top:15px;">{{ field.label }}</span>
            <input type="{{ field.field.widget.input_type }}"
                   name="{{ field.name }}"
                   class="{% if field.errors %} error{% endif %} narrower-input2"
                   id="{{ field.id_for_label }}"
                   placeholder="0"
                   {% if field.value %} value="{{ field.value }}" {% endif %}>
            {% if field.errors %}
            <div class="error-message">
                {{ field.errors }}
            </div>
        {% endif %}
        </div>

        {% endfor %}

        <div class="centered-button">
            <button type="submit" class="btn-grad btn-gradient-border btn-glow">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
