{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load cache %}
{% block title %}
{% trans 'Поставка' %}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'my_js/myjs.js' %}"></script>
<style>
    li {
    font-size: 2rem;
    margin-bottom:0.5rem;
    }
    p {
    font-size: 2rem;
    margin-bottom:1rem;
    padding-left: 12px;
    }
    span {
    font-size: 2.5rem;
    }
    h2 {
    margin-bottom:1rem;
    padding-left: 12px;
    }
    .red {
    color: red;
    padding-left: 12px;
    }
    .green {
    color: green;
    padding-left: 12px;
    }
    .yellow {
    color: yellow;
    padding-left: 12px;
    }
    .button {margin-bottom:2rem;}
    .work {font-size: 2rem;
    padding-left: 12px;}
    i.check {
      display: inline-block;
      width: 25px;
      height: 40px;
      margin: -3px 10px 3px;
      border: solid green;
      border-width: 0 15px 15px 0;
      transform: rotate( 45deg);
    }
    .col {
    height: 80px;
    }
    .mark-page4 {
    visibility: hidden;
    }
</style>
{% endblock %}

{% block content %}
<p>Поставка: <span class="green">{{ delivery.name }} (Артикулов: {{ delivery.products_count }})</span></p>
<p>Этап поставки: <span class="green">{{ delivery.state.name }}</span></p>
<br><br>
{% for state, work in delivery_works_by_state.items %}
    {% if forloop.counter < count_state %}
    <h2>
        {{ state }}
        {% if work.1.status %}
        <i class='check'></i>
        {% endif %}
    </h2>
    {% for i in work.0 %}
        <p class="work"> {{ forloop.counter }}. {{ i.user }} С {{ i.num_start }} по {{ i.num_end }}</p>
    {% endfor %}

    <p class="yellow">
        Доступные номера:
        {% for i in work.1.available_numbers %}
        {{ i }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p class="red">
        Пока недоступны:
        {% for i in work.1.not_available_numbers %}
        {{ i }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>

    <p class="green">
        Сделаны:
        {% for i in work.1.ready_numbers %}
        {{ i }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>


    <form method="post" action="{% url 'completed_works:cut_state' delivery.id delivery.state.id %}">
        {% csrf_token %}
        {% if state.num_emp > 1 %}
        <div class="form-row">
            <div class="col">
                <span> Номера с: </span><input type="number" name="number_range_form.number_from" class="narrower-input4">
                <span> до: </span><input type="number" name="number_range_form.number_to" class="narrower-input4">
                {% if request.user.role.name == 'Упаковщик' or request.user.role.name == 'Маркировщик' or request.user.role.name == 'Руководитель' %}
                <button type="submit" class="btn-grad btn-gradient-border btn-glow">Готово</button>
                {% else %}
                <button type="submit" class="btn-grad btn-gradient-border btn-glow" disabled>Готово</button>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="form-row">
            <div class="col">
                {% if request.user.role.name == 'Упаковщик' or request.user.role.name == 'Маркировщик' or request.user.role.name == 'Руководитель' %}
                <button type="submit" class="btn-grad btn-gradient-border btn-glow">Готово</button>
                {% else %}
                <button type="submit" class="btn-grad btn-gradient-border btn-glow" disabled>Готово</button>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </form>
{% endif %}
<hr>

{% endfor %}


<br><br><br><br><br>
<h2>Информация о поставке</h2>
<p>Поставка: {{ delivery.name }}</p>
<ul>
    <li>Идентификатор поставки: {{ delivery.id_wb }}</li>
    <li>Дата создания поставки: {{ delivery.createdAt }}</li>
    <li>Дата закрытия поставки: {{ delivery.closedAt }}</li>
    <li>Дата скана поставки: {{ delivery.scanDt }}</li>
    <li>Флаг закрытия поставки: {{ delivery.done }}</li>
    <li>Количество товаров: {{ delivery.products_count }}</li>
    <li>Цена: {{ delivery.price }}</li>
    <li>Апи: {{ delivery.type }}</li>
    <li>Обновлено: {{ delivery.updated_at }}</li>
    <li>Этап поставки: {{ delivery.state.name }}</li>
        <li>Товары:</li>
    {% for product in delivery.products %}
        <li>{{ forloop.counter }}.{{ product }}</li>
    {% endfor %}
</ul>
{% endblock %}
