{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load cache %}
{% block title %}
{% trans 'Поставка' %}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'my_js/myjs.js' %}"></script>
<style>
    li {
    font-size: 2rem;
    margin-bottom:0.5rem;
    }
    p {
    font-size: 2rem;
    margin-bottom:1rem;
    padding-left: 12px;
    }
    span {
    font-size: 2.5rem;
    }
    h2 {
    margin-bottom:1rem;
    padding-left: 12px;
    }
    .red {
    color: red;
    padding-left: 12px;
    }
    .green {
    color: green;
    padding-left: 12px;
    }
    .yellow {
    color: yellow;
    padding-left: 12px;
    }
    .button {margin-bottom:2rem;}
    .work {font-size: 2rem;
    padding-left: 12px;}
    i.check {
      display: inline-block;
      width: 25px;
      height: 40px;
      margin: -3px 10px 3px;
      border: solid green;
      border-width: 0 15px 15px 0;
      transform: rotate( 45deg);
    }
    .col {
    height: 80px;
    }
    .mark-page4 {
    visibility: hidden;
    }
    .small {font-size:12px; padding:0;}
    .btn-grad {border:1px solid var(--primary-color3);}
</style>
{% endblock %}

{% block content %}
<a href="{% url 'completed_works:delivery' %}"><h2>&#128281;Назад</h2></a>
<br><br>
<p>Поставка: <span class="green">{{ delivery.name }} (Артикулов: {{ delivery.products_count }},
    Листов: {{ delivery.lists }})</span></p>
<p>Этап поставки: <span class="green">{{ delivery.state }}</span></p>
<br><br>
{% for state, work in delivery_works_by_state.items %}
    {% if forloop.counter < count_state %}
    <h2>
        {{ state }}
        {% if work.1.status %}
        <i class='check'></i>
        {% endif %}
    </h2>
    {% for i in work.0 %}
        <p class="work"> {{ forloop.counter }}. {{ i.user }}(Кол-во: {{ i.quantity }}) Номера: {{ i.nums }}</p>
    {% endfor %}

    {% if work.1.available_numbers %}
    <p class="yellow">
        Доступные номера:
        {% for i in work.1.available_numbers %}
        {{ i }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}

    {% if work.1.not_available_numbers %}
    <p class="red">
        Пока недоступны:
        {% for i in work.1.not_available_numbers %}
        {{ i }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}

    {% if work.1.ready_numbers %}

    <p class="green">
        {% if work.1.status %}
        Все сделано!
        {% else %}
        Сделаны:
        {% for i in work.1.ready_numbers %}
        {{ i }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
    </p>
    {% endif %}

    <form method="post" action="{% url 'completed_works:cut_state' delivery.id work.1.id %}">
        {% csrf_token %}
        {% if state.num_emp > 1 %}
        <div class="form-row">
            <div class="col">
                <span> Укажите номера: </span><input type="text" name="numbers" class="narrower-input3">
                {% if not work.1.status and work.1.available_numbers %}
                <button type="submit" class="btn-grad btn-gradient-border btn-glow">Готово</button>
                {% else %}
                <button type="submit" class="btn-grad btn-gradient-border btn-glow" disabled>Готово</button>
                {% endif %}
                <p class="small">*Указать номера необходимо через пробел,
                    запятую или же через "-"(интервал с и по какой номер).
                    Если написать все, то все доступные номера перейдут в сделаные
                </p>
            </div>
        </div>
        {% else %}
        <div class="form-row">
            <div class="col">
                {% if not work.1.status and work.1.available_numbers %}
                <button type="submit" class="btn-grad btn-gradient-border btn-glow">Готово</button>
                {% else %}
                <button type="submit" class="btn-grad btn-gradient-border btn-glow" disabled>Готово</button>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </form>
{% endif %}
<hr>

{% endfor %}

<br><br><br><br><br>
<h2>Информация о поставке</h2>
<p>Поставка: {{ delivery.name }}</p>
<p>Идентификатор поставки:
    {% if delivery.id_wb != 'no' %}
    {{ delivery.id_wb }}
    {% else %}
    -
    {% endif %}
</p>
<p>Дата создания поставки:
    {% if delivery.createdAt %}
    {{ delivery.createdAt }}
    {% else %}
    -
    {% endif %}
</p>
<p>Дата закрытия поставки:
    {% if delivery.closedAt %}
    {{ delivery.closedAt }}
    {% else %}
    -
    {% endif %}
</p>
<p>Дата скана поставки:
    {% if delivery.scanDt %}
    {{ delivery.scanDt }}
    {% else %}
    -
    {% endif %}
</p>
<p>Количество товаров: {{ delivery.products_count }}</p>
<p>Обновлено: {{ delivery.updated_at }}</p>

<!--<div class="col">-->
<!--    <h2>Список товаров с WB:</h2>-->
<!--    <ul>-->
<!--        {% for product in delivery.products %}-->
<!--        <li>{{ forloop.counter }}.{{ product }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--</div>-->
<!--<div class="col">-->

<h2>Номера из программы 	&#128512;</h2>
<ul>
{% for key, value in delivery.products_nums_on_list.items %}
    <li>{{key}}: {{value.art}} ({{value.quantity}} шт.)</li>
{% endfor %}
</ul>
{% endblock %}
