{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load cache %}
{% block title %}
{% trans 'Все поставки' %}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'my_js/myjs.js' %}"></script>
<style>
    li {
    font-size: 2rem;
    margin-bottom:0.5rem;
    }
    h2 {margin-bottom:1rem;}
    .green {color:green;}
</style>
{% endblock %}

{% block content %}

<div class="row align-items-start">
    <div class="col">
        <h2>Поставки со значками</h2>
        <ul>
            {% for item, state in delivery_badges.items %}
            <li>
                <a href="{% url 'completed_works:delivery_view' item.id %}">
                    <span class="green">{{ forloop.counter }}.</span> {{ item }} - {{state}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col">
        <h2>Поставки с постерами</h2>
        <ul>
            {% for item, state in delivery_posters.items %}
            <li>
                <a href="{% url 'completed_works:delivery_view' item.id %}">
                    <span class="green">{{ forloop.counter }}.</span> {{ item }} - {{state}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
