{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags_users %}
{% block link %}
<link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'my_js/myjs.js' %}"></script>
{% endblock %}

{% block title %}
{% trans 'График' %}
{% endblock %}

{% block content %}

<div class="container text-center">
    <div class="row justify-content-md-center">
        <form method="get" class="custom-form">
            <div class="form-group">
                {% for field in form %}
                <span for="{{ field.id_for_label }}" style="font-size: 14px;">{% trans field.label %}  </span>
                <input type="{{ field.field.widget.input_type }}"
                       name="{{ field.name }}"
                       placeholder="0"
                       class="{% if field.errors %} error{% endif %} narrower-input3"
                       id="{{ field.id_for_label }}"
                       {% if field.value %} value="{{ field.value }}" {% endif %}>
                {% if field.errors %}
                <div class="error-message">
                    {{ field.errors }}
                </div>
                {% endif %}
                {% endfor %}
                <button type="submit" class="btn-lg">Выбрать</button>
            </div>
        </form>
        <div>
            <h4>
                {{monday}}-{{sunday}}
            </h4>
        </div>
    </div>
</div>


<div class="container text-center">
    <div class="row justify-content-md-center">
        {% for key, value in work_schedule.items %}
        <button class="depth {% if value.2 %} depth-green {% endif %}"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample{{ forloop.counter }}"
                aria-expanded="false"
                aria-controls="collapseExample">
            {{ key.0 }}
        </button>
        {% endfor %}
        <br><br>
    </div>
</div>

{%for key, value in work_schedule.items %}
<div class="collapse" id="collapseExample{{ forloop.counter }}">
    {% for role, peoples in value.3.items %}
        <h3>
            {{ role }}: {{ peoples }}
        </h3>
    {% endfor %}
    <br>
    <button class="btn btn-success w-auto btn-save" onclick="saveTableData('{{key.1}}', '{{key.0}}')">
        Сохранить
    </button>
    <button class="btn btn-success" onclick="addRow('{{ key.1 }}')">Добавить строку</button>
    <br>
    <br>

    <table class="table-responsive-sm">
        <thead>
        <tr>
            <th scope="col">Количество сотрудников</th>
            {% for hour, count in value.1.items %}
            <th scope="col" style="font-size: 16px;">{{ count }}</th>
            {% endfor %}
            <th scope="col"></th>
        </tr>
        </thead>
    </table>

    <table id="{{key.1}}" class="table-responsive-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">9:00</th>
            <th scope="col">10:00</th>
            <th scope="col">11:00</th>
            <th scope="col">12:00</th>
            <th scope="col">13:00</th>
            <th scope="col">14:00</th>
            <th scope="col">15:00</th>
            <th scope="col">16:00</th>
            <th scope="col">17:00</th>
            <th scope="col">18:00</th>
            <th scope="col">19:00</th>
            <th scope="col">20:00</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

        {% for user_name, hours in value.0.items %}
            {% custom_dropdown user_name hours users forloop.counter%}
        {% endfor %}
        </tbody>

    </table>
</div>

{% endfor %}

<script>
        function addRow(tableId) {
const table = document.getElementById(tableId);
if (!table) {
    console.error('Таблица не найдена');
    return;
}

const newRow = document.createElement('tr');
const selectHTML = `
    <select class="form-select bg-dark w-auto text-white" aria-label="Запись">
        <option selected>Нет</option>
        {% for emp in users %}
        <option value="{{ forloop.counter }}" style="color: #ffffff;">{{ emp.username }}</option>
        {% endfor %}
    </select>
`;

// Увеличьте порядковый номер строки в первом столбце
const rowIndex = table.rows.length;
const numberCell = document.createElement('th');
numberCell.textContent = rowIndex;

newRow.appendChild(numberCell);

// Добавьте ячейки в новую строку (кроме первой и последней)
for (let i = 0; i < table.rows[0].cells.length - 2; i++) {
    const cell = document.createElement('td');
    cell.innerHTML = selectHTML;
    newRow.appendChild(cell);
}

// Добавьте кнопку "Очистить" в последний столбец
const clearButtonCell = document.createElement('td');
const clearButton = document.createElement('button');
clearButton.className = 'btn btn-danger';
clearButton.textContent = 'Очистить';
clearButton.addEventListener('click', function () {
    clearRow(this);
});
clearButtonCell.appendChild(clearButton);
newRow.appendChild(clearButtonCell);

table.querySelector('tbody').appendChild(newRow);
}

function clearRow(button) {
const row = button.closest('tr');
const cells = row.querySelectorAll('td');

cells.forEach(function (cell, index) {
    if (index < cells.length - 1) { // Исключаем последний столбец
        const selectHTML = `
            <select class="form-select bg-dark w-auto text-white" aria-label="Запись">
                <option selected>Нет</option>
                {% for emp in users %}
                <option value="{{ forloop.counter }}" style="color: #ffffff;">{{ emp.username }}</option>
                {% endfor %}
            </select>
        `;
        cell.innerHTML = selectHTML;
    }
});
}

function saveTableData(tableId, date) {
const table = document.getElementById(tableId);
const rowDataList = [];
if (!table) {
    console.error('Таблица не найдена');
    return;
}

const rows = table.querySelectorAll('tbody tr');

rows.forEach(function (row) {
    const rowData = [];
    const cells = row.querySelectorAll('td');

    cells.forEach(function (cell) {
        if (cell.querySelector('select')) {
            const selectedOption = cell.querySelector('option:checked');
            rowData.push(selectedOption.textContent);
        } else {
            rowData.push(cell.textContent.trim());
        }
    });

    rowDataList.push(rowData)
    console.log(rowDataList); // Отправляем данные в консоль
});

const xhr = new XMLHttpRequest();
var csrftoken = getCookie('csrftoken');
xhr.open('POST', '/work/update_rows/', true); // Замените на реальный URL сервера
xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
xhr.setRequestHeader('X-CSRFToken', csrftoken);

xhr.onreadystatechange = function () {
    if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
            console.log('Данные успешно отправлены на сервер');
            location.reload();
            // Здесь можно обрабатывать ответ сервера, если необходимо
        } else {
            console.error('Произошла ошибка при отправке данных на сервер');
        }
    }
};

const dataToSend = {
    date: date,
    rowData: rowDataList
    };
xhr.send(JSON.stringify(dataToSend));
}
</script>
{% endblock %}