{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}

{% block link %}

{% endblock %}

{% block title %}
{% trans 'График' %}
{% endblock %}

{% load static %}

{% block content %}
<div class="container text-center">
    <div class="row justify-content-md-center">
        <form method="GET" action="">
            <button class="depth-graf" type="submit" name="selected_month" value="1">Январь</button>
            <button class="depth-graf" type="submit" name="selected_month" value="2">Февраль</button>
            <button class="depth-graf" type="submit" name="selected_month" value="3">Март</button>
            <button class="depth-graf" type="submit" name="selected_month" value="4">Апрель</button>
            <button class="depth-graf" type="submit" name="selected_month" value="5">Май</button>
            <button class="depth-graf" type="submit" name="selected_month" value="6">Июнь</button>
            <button class="depth-graf" type="submit" name="selected_month" value="7">Июль</button>
            <button class="depth-graf" type="submit" name="selected_month" value="8">Август</button>
            <button class="depth-graf" type="submit" name="selected_month" value="9">Сентябрь</button>
            <button class="depth-graf" type="submit" name="selected_month" value="10">Октябрь</button>
            <button class="depth-graf" type="submit" name="selected_month" value="11">Ноябрь</button>
            <button class="depth-graf" type="submit" name="selected_month" value="12">Декабрь</button>
        </form>
    </div>
</div>

<div class="table-responsive" style="max-width: 1200px; margin: 0 auto;">
    <br>
    <table class="table-responsive-sm">
        <thead>
        <tr>
            <th scope="col" style="width: 3%; font-size: 16px;">#</th>
            <th scope="col" style="width: 15%; font-size: 16px;">Имя</th>
            <th scope="col" style="width: 15%; font-size: 16px;">Дата</th>
            <th scope="col" style="width: 10%; font-size: 16px;">С</th>
            <th scope="col" style="width: 10%; font-size: 16px;">До</th>
            <th scope="col" style="width: 15%; font-size: 16px;">Время работы</th>
            <th scope="col" style="width: 10%; font-size: 16px;">Утверждено</th>
        </tr>
        </thead>
        <tbody>
        {% for item in appointments %}
        <tr id="row-{{ item.id }}">
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.user.username }}</td> <!-- Вывести имя пользователя -->
            <td>{{ item.date }}</td>
            <td>{{ item.start_time }}</td>
            <td>{{ item.end_time }}</td>
            <td>{{ item.duration }}</td>
            {% if item.verified %}
            <td>Да</td>
            {% else %}
            <td>Нет</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}