{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}

{% block link %}
<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

<style>
    span {
    font-size: 2rem;
    padding-top: 3rem;
    }
    h2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    h5 {
    color: #000;
    }
    p {
    font-size: 2rem;
    }
        ol {
    list-style-type: decimal; /* decimal numbering (1, 2, 3, ...) */
    margin-left: 2rem;
    font-size: 1.5rem;
}
    li {
    list-style: auto;
}

</style>
{% endblock %}

{% block title %}
{% trans 'Заявка на отпуск' %}
{% endblock %}

{% block content %}
<div class="error-message">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{{ error }}</h4>
    </div>
    {% endfor %}
    {% endif %}
</div>
<h2>Существующие заявки:</h2>
{% if vacations %}
<div>
    <ol>
        {% for item in vacations %}
        <li>С {{ item.start_date }} по {{ item.end_date }} (дней: {{ item.duration }})
            {% if item.is_checked %}
            <button type="button" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-building-check"
                     viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514Z"></path>
                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"></path>
                    <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"></path>
                </svg>
                Утверждено
            </button>
            {% else %}
            <button type="button" class="btn btn-outline-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-building-fill-slash" viewBox="0 0 16 16">
                    <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95Z"></path>
                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.493 4.493 0 0 0 12.5 8a4.493 4.493 0 0 0-3.59 1.787A.498.498 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.476 4.476 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1V1Zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"></path>
                </svg>
                Не утверждено
            </button>
            <button type="button" class="btn btn-outline-danger delete-btn" data-id="{{ item.id }}">

                Удалить
            </button>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</div>
{% else %}
<p>Пока нет заявок</p>
{% endif %}
<h2>Отправить заявку:</h2>

<div class="gradient-border" id="box" style="width: 30% !important; margin-top: 4rem;">
    <form method="post" style="margin:0; width: 100%;">
        {% csrf_token %}

        <div class="input-group mb-3">
            <span class="narrower-input2">Дата начала отпуска</span>
            <input type="{{ form.start_date.field.widget.input_type }}"
                   name="{{ form.start_date.name }}"
                   class="{% if form.start_date.errors %} error{% endif %} narrower-input2"
                   id="{{ form.start_date.id_for_label }}"
                   placeholder="0"
                   {% if form.start_date.value %} value="{{ form.start_date.value }}" {% endif %}>
            {% if form.start_date.errors %}
            <div class="error-message">
                {{ form.start_date.errors }}
            </div>
            {% endif %}
        </div>

        <div class="input-group mb-3">
            <span class="narrower-input2">Дата завершения</span>
            <input type="{{ form.end_date.field.widget.input_type }}"
                   name="{{ form.end_date.name }}"
                   class="{% if form.end_date.errors %} error{% endif %} narrower-input2"
                   id="{{ form.end_date.id_for_label }}"
                   placeholder="0"
                   {% if form.end_date.value %} value="{{ form.end_date.value }}" {% endif %}>
            {% if form.end_date.errors %}
            <div class="error-message">
                {{ form.end_date.errors }}
            </div>
            {% endif %}
        </div>

        <div class="centered-button">
            <button type="submit" class="btn-grad btn-gradient-border btn-glow">Отправить</button>
        </div>
    </form>
</div>
<!-- Модальное окно для подтверждения удаления -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтверждение удаления</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancelDelete">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Вы уверены, что хотите удалить эту заявку?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelDelete2">Отмена</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Удалить</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#cancelDelete').on('click', function () {
        $('#deleteModal').modal('hide');
    });
    $('#cancelDelete2').on('click', function () {
        $('#deleteModal').modal('hide');
    });

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Найти все кнопки "Удалить" с классом "delete-btn"
        const deleteButtons = document.querySelectorAll(".delete-btn");

        // Обработчик клика по кнопке "Удалить"
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                const vacationId = button.getAttribute("data-id");

                // Показать модальное окно при клике на кнопку "Удалить"
                $('#deleteModal').modal('show');

                // Обработчик клика по кнопке "Удалить" в модальном окне
                document.getElementById("confirmDelete").addEventListener("click", function () {
                    // Отправить запрос на удаление заявки на сервер
                    fetch("{% url 'work:delete_vacation' vacation_id=0 %}".replace('0', vacationId), {
                        method: "DELETE",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                            // Другие заголовки, если необходимо
                        },
                    })
                        .then(function (response) {
                            if (response.ok) {
                                // Заявка успешно удалена, можно обновить страницу или скрыть заявку
                                button.closest("li").style.display = "none";
                            } else {
                                // Обработка ошибки удаления
                                console.error("Ошибка удаления заявки");
                            }
                        })
                        .catch(function (error) {
                            console.error("Ошибка удаления заявки:", error);
                        });

                    // Закрыть модальное окно после удаления
                    $('#deleteModal').modal('hide');
                });
            });
        });
    });
</script>

{% endblock %}
