{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load cache %}
{% load custom_app_tag %}

{% block link %}
<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
{% endblock %}

{% block title %}
{% trans 'Главная страница' %}
{% endblock %}

{% block content %}
<style>
    .carousel-item img {
       height: 50rem; /* Максимальная высота для изображения */
       width: auto!important; /* Автоматический расчет ширины на основе высоты и пропорций */
       display: block; /* Делаем изображение блочным элементом */
       margin: 0 auto; /* Центрируем изображение по горизонтали */
       vertical-align: middle; /* Центрируем изображение по вертикали */
   }
       /* Убираем фоновый эффект у кнопок управления каруселью */
   .carousel-control-prev,
   .carousel-control-next {
       background-color: transparent!important;
       border: none!important; /* Убираем бордер */
   }
    .text-article p {
    white-space: pre-line;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
        border: 1px solid #dddddd;
        text-align: left;
        font-size: 2rem;
        padding: 8px;
        word-wrap: break-word;
        white-space: normal;
    }
.favorite-row {
    background-color: #00fffc4a;
    color: white; /* Цвет текста в строке таблицы */
}
</style>
<div class="container text-center">
    <div class="row justify-content-md-center">
        <button class="depth"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample">
            Общий график
        </button>
        {% if request.user.department %}
        <button class="depth"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample3"
                aria-expanded="false"
                aria-controls="collapseExample">
            График отдела
        </button>
        {% endif%}
        <button class="depth"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample2"
                aria-expanded="false"
                aria-controls="collapseExample">
            График
            <svg class="yellow-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 30 512 512" width="15" height="15">
                <path fill="#F0D355"
                      d="M510.504,195.362c-3.499-10.728-12.581-18.522-23.702-20.341l-139.454-22.804L282.757,25.04 C277.611,14.902,267.359,8.603,256,8.603c-11.357,0-21.611,6.297-26.76,16.435l-64.59,127.179L25.196,175.021 c-11.124,1.82-20.206,9.615-23.701,20.342c-3.495,10.723-0.76,22.379,7.141,30.419l99.73,101.511L86.671,468.765 c-1.719,11.204,2.91,22.29,12.082,28.931c5.152,3.729,11.236,5.701,17.593,5.701c4.721,0,9.441-1.136,13.647-3.286L256,435.7 l126.007,64.412c4.207,2.149,8.926,3.285,13.645,3.285c6.357,0,12.441-1.972,17.594-5.702 c9.172-6.642,13.801-17.728,12.082-28.929l-21.694-141.474l99.729-101.51C511.265,217.742,514.001,206.086,510.504,195.362z"/>
            </svg>
        </button>
    </div>
</div>
<br><br>

<div class="collapse" id="collapseExample">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск имен.." style="margin-bottom:20px;">
    <table id="week_graf">
        <thead>
        <tr>
            <th style="width: 20%;">Сотрудник</th>
            {% for date in set_date %}
            <th style="width: auto;">{{ date|date:"j F, D" }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for user, schedule in user_schedule.items %}
        <tr {% if user in request.user.favorites.all %}class="favorite-row" {% endif %}>
            <td>
                {% if user in request.user.favorites.all %}
                <svg class="yellow-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 30 512 512" width="15"
                     height="15">
                    <path fill="#F0D355"
                          d="M510.504,195.362c-3.499-10.728-12.581-18.522-23.702-20.341l-139.454-22.804L282.757,25.04 C277.611,14.902,267.359,8.603,256,8.603c-11.357,0-21.611,6.297-26.76,16.435l-64.59,127.179L25.196,175.021 c-11.124,1.82-20.206,9.615-23.701,20.342c-3.495,10.723-0.76,22.379,7.141,30.419l99.73,101.511L86.671,468.765 c-1.719,11.204,2.91,22.29,12.082,28.931c5.152,3.729,11.236,5.701,17.593,5.701c4.721,0,9.441-1.136,13.647-3.286L256,435.7 l126.007,64.412c4.207,2.149,8.926,3.285,13.645,3.285c6.357,0,12.441-1.972,17.594-5.702 c9.172-6.642,13.801-17.728,12.082-28.929l-21.694-141.474l99.729-101.51C511.265,217.742,514.001,206.086,510.504,195.362z"/>
                </svg>
                {% endif %}
                <a href="{% url 'users:user_profile' user.id %}">
                    {{user}}
                </a>
            </td>
            {% for date in set_date %}
            <td>
                {% get_date user_schedule user date %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="collapse" id="collapseExample3">
    <table>
        <thead>
        <tr>
            <th style="width: 20%;">Сотрудник</th>
            {% for date in set_date %}
            <th style="width: auto;">{{ date|date:"j F, D" }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for user, schedule in user_schedule.items %}
            {% if user.department == request.user.department %}
            <tr>
                <td>
                    <a href="{% url 'users:user_profile' user.id %}">
                        {{user}}
                    </a>
                </td>
                {% for date in set_date %}
                <td>
                    {% get_date user_schedule user date %}
                </td>
                {% endfor %}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="collapse" id="collapseExample2">
    <table>
        <thead>
        <tr>
            <th style="width: 20%;">Сотрудник</th>
            {% for date in set_date %}
            <th style="width: auto;">{{ date|date:"j F, D" }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for user, schedule in user_schedule.items %}
        {% if user in request.user.favorites.all %}
        <tr>
            <td><a href="{% url 'users:user_profile' user.id %}">
                <svg class="yellow-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 30 512 512" width="15"
                     height="15">
                    <path fill="#F0D355"
                          d="M510.504,195.362c-3.499-10.728-12.581-18.522-23.702-20.341l-139.454-22.804L282.757,25.04 C277.611,14.902,267.359,8.603,256,8.603c-11.357,0-21.611,6.297-26.76,16.435l-64.59,127.179L25.196,175.021 c-11.124,1.82-20.206,9.615-23.701,20.342c-3.495,10.723-0.76,22.379,7.141,30.419l99.73,101.511L86.671,468.765 c-1.719,11.204,2.91,22.29,12.082,28.931c5.152,3.729,11.236,5.701,17.593,5.701c4.721,0,9.441-1.136,13.647-3.286L256,435.7 l126.007,64.412c4.207,2.149,8.926,3.285,13.645,3.285c6.357,0,12.441-1.972,17.594-5.702 c9.172-6.642,13.801-17.728,12.082-28.929l-21.694-141.474l99.729-101.51C511.265,217.742,514.001,206.086,510.504,195.362z"/>
                </svg>
                {{user}}
            </a></td>
            {% for date in set_date %}
            <td>
                {% get_date user_schedule user date %}
            </td>
            {% endfor %}
        </tr>
        {% endif %}

        {% endfor %}
        </tbody>
    </table>
</div>

{% for item in announcements %}
<div class="tf-section flat-blog home3" style="padding: 30px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="heading-section style center" style="padding:2%">
                    <article class="sc-card-article blog-article">
                        <div class="text-article" style="margin-bottom:10px;">
                            <h2>{{ item.title }}</h2>
                        </div>
                        {% if item.images %}
                        <div id="carouselExampleRide{{ forloop.counter }}" class="carousel slide"
                             style="margin-bottom:20px;"
                             data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in item.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ item.title }}">
                                </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleRide{{ forloop.counter }}"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Предыдущий</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleRide{{ forloop.counter }}"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Следующий</span>
                            </button>
                        </div>
                        {% endif %}
                        <div class="post" style="padding: 0;">
                            <div class="text-article" style="text-align: left;font-size: 14px;">
                                {{ item.content|linebreaksbr }}
                            </div>
                            {% if item.url %}
                            <div class="text-article">
                                <p>Ссылка: <a href="{{ item.url }}">{{ item.url }}</a></p>
                            </div>
                            {% endif %}
                            <div class="meta-info style">
                                <div class="author">
                                    <div class="info">
                                        {% if item.author.first_name %}
                                        <h5> Опубликовано: <a class="text-color-3"
                                                              href="{% url 'users:user_profile' item.author.id %}">
                                            {{ item.author.last_name }} {{ item.author.first_name }}</a></h5>
                                        {% else %}
                                        <h5> Опубликовано: <a class="text-color-3"
                                                              href="{% url 'users:user_profile' item.author.id %}">
                                            {{ item.author }}</a></h5>
                                        {% endif%}
                                        <div class="date"><span class="text-color-6">{{ item.date_created }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    function myFunction() {
      // Объявить переменные
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("week_graf");
      tr = table.getElementsByTagName("tr");

      // Перебирайте все строки таблицы и скрывайте тех, кто не соответствует поисковому запросу
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>
{% endblock %}
