{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}


{% block link %}
<link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'my_js/myjs.js' %}"></script>
{% endblock %}

{% block title %}
{% trans 'Главная страница' %}
{% endblock %}

{% block content %}
<table class="table-responsive-sm">
    <thead>
    <tr>
        <th scope="col">Сотрудник</th>

        {% for day in days %}
        <th scope="col">{{ day }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for user, value in user_works_day.items %}
            <tr>
            <td>{{user}}</td>
            {% for hour in value %}
                <td>{{hour}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
