{% extends 'main_base.html' %}
{% load static %}
{% load cache %}
{% block title %}
Сотрудники
{% endblock %}

{% block content %}
<style>
    .col {
        float: left;
        margin-top: 70px;
        min-width: 20%;
        max-width: 20%;
    }

    /* Очистка элементов в новом ряду (каждый четвёртый элемент) */
    .col:nth-child(5n) {
        clear: left;
        margin-right: 0; /* Уберите отступ у последнего элемента в ряду */
    }
    .col:nth-child(-n+5) {
    margin-top: 0; /* Убираем отступ сверху */
    }
    .staff-name {
    font-size: 44px;
    text-align: center;
    margin-left: 140px;
    margin-left: auto; /* Убираем левый отступ */
    margin-right: auto; /* Убираем правый отступ */
    }
    .img-author img {
    width: 110px; /* Для обеспечения правильного размера изображения */
    height: 110px; /* Для обеспечения правильного размера изображения */
    }
    .flat-top-seller.home2 .style-container {
    padding-top: 100px;
    padding-bottom: 30px;
    }
    .container {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    }
    .row {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
body {
    overflow-y: hidden;
}
   .profile-button {
    position: absolute;
    bottom: 15px; /* Настройте в соответствии с вашими требованиями */
    left: 42%; /* Расположить в середине по горизонтали */
    transform: translateX(-50%);
    text-align: center;
    width: 100%; /* Ширина кнопки на всю ширину карточки */
}

/* Стили для кнопки "Профиль" */
.profile-button a {
    display: inline-block;
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px 20px; /* Отступы кнопки */
    text-decoration: none;
    border-radius: 5px; /* Закругление углов */
}

/* Эффект при наведении */
.profile-button a:hover {
    background-color: #45a049; /* Цвет фона кнопки при наведении */
}
</style>


{% for dep, users in user_dict.items %}
<div class="flat-top-seller home2">
    <h2 class="staff-name">{{ dep }}</h2>
    <br><br>
    <div class="themes-container2 style-container">
        <div class="container">
            <div class="row" style="margin-bottom:8rem;">
                {% for emp in users.0 %}
                <div class="col">
                    <div class="wrap-seller">
                        <div class="img-box flat-img">
                            <div class="img-author">
                                {% if emp.photo %}
                                <img src="{{ emp.photo.url }}" class="rounded float-start" alt="{{ emp.username }}"
                                     loading="lazy">
                                {% else %}
                                <img src="{% static 'image.png' %}" class="rounded float-start" loading="lazy"
                                     alt="{{ emp.username }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'users:user_profile' emp.id %}">{{ emp }}</a></h3>
                            <h3> {{ emp.role.name }} </h3>

                            <div class="price flex" style="height:2rem;">
                                <div class="title-price fs-16">
                                    {% if emp.avg_kf %}
                                    Эффективность: {{ emp.avg_kf }}%
                                    {% endif %}
                                </div>
                            </div>

                            <div class="profile-button">
                                <a href="{% url 'users:user_profile' emp.id %}" class="sc-button btn-6 bt">
                                    <span>Профиль</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for emp in users.1 %}
                <div class="col">
                    <div class="wrap-seller">
                        <div class="img-box flat-img">
                            <div class="img-author">
                                {% if emp.photo %}
                                <img src="{{ emp.photo.url }}" class="rounded float-start" alt="{{ emp.username }}"
                                     loading="lazy">
                                {% else %}
                                <img src="{% static 'image.png' %}" class="rounded float-start" loading="lazy"
                                     alt="{{ emp.username }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'users:user_profile' emp.id %}">{{ emp }}</a></h3>
                            <h3> {{ emp.role.name }} </h3>

                            <div class="price flex" style="height:2rem;">
                                <div class="title-price fs-16">
                                    {% if emp.avg_kf %}
                                    Эффективность: {{ emp.avg_kf }}%
                                    {% endif %}
                                </div>
                            </div>

                            <div class="profile-button">
                                <a href="{% url 'users:user_profile' emp.id %}" class="sc-button btn-6 bt">
                                    <span>Профиль</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% if not_dep %}
<div class="flat-top-seller home2">
    <h2 class="staff-name">Сотрудники без отдела</h2>
    <br><br>
    <div class="themes-container2 style-container">
        <div class="container">
            <div class="row" style="margin-bottom:8rem;">
                {% for emp in not_dep %}
                <div class="col">
                    <div class="wrap-seller">
                        <div class="img-box flat-img">
                            <div class="img-author">
                                {% if emp.photo %}
                                <img src="{{ emp.photo.url }}" class="rounded float-start" alt="{{ emp.username }}"
                                     loading="lazy">
                                {% else %}
                                <img src="{% static 'image.png' %}" class="rounded float-start" loading="lazy"
                                     alt="{{ emp.username }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <h3><a href="{% url 'users:user_profile' emp.id %}">{{ emp }}</a></h3>
                            <h3> {{ emp.role.name }} </h3>

                            <div class="price flex" style="height:2rem;">
                                <div class="title-price fs-16">
                                    {% if emp.avg_kf %}
                                    Эффективность: {{ emp.avg_kf }}%
                                    {% endif %}
                                </div>
                            </div>

                            <div class="profile-button">
                                <a href="{% url 'users:user_profile' emp.id %}" class="sc-button btn-6 bt">
                                    <span>Профиль</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>
    // Находим все строки
    var rows = document.querySelectorAll('.row');

    // Для каждой строки
    rows.forEach(function(row) {
        // Находим все карточки в этой строке
        var cards = row.querySelectorAll('.col');

        // Инициализируем переменную для хранения высоты самой большой карточки в строке
        var maxHeight = 0;

        // Для каждой карточки
        cards.forEach(function(card) {
            // Получаем высоту текущей карточки
            var cardHeight = card.offsetHeight;

            // Обновляем значение maxHeight, если текущая карточка выше
            if (cardHeight > maxHeight) {
                maxHeight = cardHeight;
            }
        });

        cards.forEach(function(card) {
            var newHeight = maxHeight + 30; // Добавляем 30px к высоте карточки
            card.style.height = newHeight + 'px';

            // Устанавливаем высоту всех дочерних элементов .wrap-seller
            var wrapSeller = card.querySelector('.wrap-seller');
            if (wrapSeller) {
                wrapSeller.style.height = newHeight + 'px';
            }

            // Устанавливаем высоту всех дочерних элементов .button-follow
            var buttonFollow = card.querySelector('.button-follow');
            if (buttonFollow) {
                buttonFollow.style.height = newHeight + 'px';
            }
        });
    });
</script>


{% endblock %}