{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load cache %}

{% block link %}
<style>
    .col {
        float: left;
        margin-top: 70px;
        min-width: 20%;
        max-width: 20%;
    }

    /* Очистка элементов в новом ряду (каждый четвёртый элемент) */
    .col:nth-child(5n) {
        clear: left;
        margin-right: 0; /* Уберите отступ у последнего элемента в ряду */
    }
    .col:nth-child(-n+5) {
    margin-top: 0; /* Убираем отступ сверху */
    }
    .row {
        max-width: 100%;
    }

    .staff-name {
    font-size: 44px;
    text-align: center;
    margin-left: 140px;
    }
    .img-author img {
    width: 110px; /* Для обеспечения правильного размера изображения */
    height: 110px; /* Для обеспечения правильного размера изображения */
    }
    .flat-top-seller.home2 .style-container {
    padding-top: 100px;
    padding-bottom: 30px;
    }
    .container {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    }
</style>
{% endblock %}

{% block title %}
{% trans 'Сотрудники' %}
{% endblock %}

{% block content %}
{% cache 600 staff %}

{% for key, value in staff_by_role.items %}
<span class="staff-name">{{ key }}</span>
<br>
<br>

<div class="flat-top-seller home2">
    <div class="themes-container2 style-container">
        <div class="container">
            <div class="row">
                {% for emp in value %}
                <div class="col">
                    <div class="wrap-seller">
                        <div class="img-box flat-img">
                            <div class="img-author">
                                {% if emp.photo %}
                                <img src="{{ emp.photo.url }}" class="rounded float-start" alt="{{ emp.username }}" loading="lazy">
                                {% else %}
                                <img src="{% static 'Нет фото.jpg' %}" class="rounded float-start" loading="lazy"
                                     alt="{{ emp.username }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            {% if emp.last_name %}
                            <h3><a href="{% url 'users:user_profile' emp.id %}">{{ emp.last_name }} {{ emp.first_name }}</a></h3>
                            {% else %}
                            <h3><a href="{% url 'users:user_profile' emp.id %}">{{ emp }}</a></h3>
                            {% endif %}

                            <div class="price flex" style="height:2rem;">
                                <div class="title-price fs-16">
                                    {% if emp.avg_kf %}
                                    Эффективность: {{ emp.avg_kf }}%
                                    {% endif %}
                                </div>
                            </div>
                            <div class="button-follow">
                                <a href="{% url 'users:user_profile' emp.id %}" class="sc-button btn-6 bt"><span>Профиль</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}


<script src="{% static 'nufti/assets/js/switchmode.js' %}"></script>
<script src="{% static 'nufti/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'nufti/assets/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'nufti/assets/js/wow.min.js' %}"></script>
{% endcache %}

{% endblock %}