{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% trans 'Профиль' %}
{% endblock %}

{% block link %}
<style>
    .widget-categories{
        font-size: 32px;
    }
    .widget.widget-categories li {
    position: relative;
    margin-bottom: 14px;
    margin-left: 50px;
    }
    .col-8 {
        text-align: left;
    }
    .user-name {
        font-size: 44px;
    }
    .user-name-small {
        font-size: 18px;
    }
    .img-author img {
    width: 420px; /* Для обеспечения правильного размера изображения */
    height: 420px; /* Для обеспечения правильного размера изображения */
    }
</style>
{% endblock %}

{% block content %}
<div class="container text-center">

    <div class="row">
        <div class="col-4">
            <div>
                <div class="img-box flat-img">
                    <div class="img-author">
                        {% if profile.photo %}
                        <img src="{{ profile.photo.url }}" class="rounded float-start" alt="{{ profile.username }}">
                        {% else %}
                        <img src="{% static 'Нет фото.jpg' %}" class="rounded float-start"
                             alt="{{ profile.username }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="widget widget-categories">
                <ul>
                    <li class="active">
                        <span class="user-name">{{ profile.last_name }} {{ profile.first_name }}</span>
                    </li>
                    <li class="active">
                        <a href="#" class="user-name">Должность: </a>
                        <span class="user-name-small">{{ profile.role }}</span>
                    </li>
                    <li class="active">

                        <a href="#">Дата рождения:</a>
                        {% if profile.birth_date %}
                        <span class="user-name-small">{{ profile.birth_date }}</span>
                        {% else %}
                        <span class="user-name-small">Не указана</span>
                        {% endif %}
                    </li>
                    <li class="active">
                        <a href="#">Номер телефона:</a>
                        {% if profile.phone_number != 'nan' %}
                        <span class="user-name-small">{{ profile.phone_number }}</span>
                        {% else %}
                        <span class="user-name-small">Не указан</span>
                        {% endif %}
                    </li>
                    <li class="active">
                        <a href="#">Email:</a>
                        {% if profile.email %}
                        <span class="user-name-small">{{ profile.email }}</span>
                        {% else %}
                        <span class="user-name-small">Не указан</span>
                        {% endif %}
                    </li>
                    <li class="active">
                        <a href="#">Телеграмм: </a>
                        <span class="user-name-small">{{ profile.telegram_id }}</span>
                    </li>
                    <li class="active">
                        <a href="#">Реквизиты банковской карты:</a>
                        {% if profile.card_details %}
                        <span class="user-name-small">{{ profile.card_details }}</span>
                        {% else %}
                        <span class="user-name-small">Не указаны</span>
                        {% endif %}
                    </li>
                    <li class="active">
                        <a href="#">Увлечения:</a>
                        <span class="user-name-small">{{ profile.hobbies }}</span>
                    </li>
                    <li class="active">
                        {% if profile.status_work %}
                        <a href="#">Статус:</a>
                        <span class="user-name-small"> Работа </span>
                        {% else %}
                        <a href="#">Статус:</a>
                        <span class="user-name-small"> Уволен </span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}