{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load cache %}
{% block title %}
{% trans 'Статистика' %}
{% endblock %}

{% block link %}
<style>
    li {
    font-size:2rem;
    }
    p {
    font-size:2rem;
    }
    .m-top {
    margin-top: 2rem;
    }
    .my-selection {
    height: 6rem;
    }
    .btn-glow {
    width: 100%;
    }
</style>
{% endblock %}

{% block content %}
{% cache 300 statistic %}
<div class="container" style="margin: 0; margin-top: 20px;width: 100%;">
    <h2>Данные учитываются за 7 последних дней</h2>
    <p>{% trans 'Сколько работников за все время было' %}: {{ total_employees }}</p>
    <p>{% trans 'Сколько работников работает' %}: {{ total_employees_work }}</p>
    <p>{% trans 'Сколько активных работников сейчас' %}: {{ active_employees }}</p>
    <div class="row align-items-start">
        <div class="col">
        <button class="btn-grad btn-gradient-border btn-glow" style="margin-top: 2rem;margin-bottom: 2rem">
            <a href="{% url 'effectiveness:statistic_works' %}">Эффективность сотрудников</a>
        </button>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

    <h2 style="margin-top: 2rem;margin-bottom: 2rem;">Косяки</h2>
    <div class="row align-items-start">
        <div class="col">
            <div class="my-selection">
                <button class="btn-grad btn-gradient-border btn-glow" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExampleInactive"
                        aria-expanded="false" aria-controls="collapseExampleInactive">
                    Список неактивных сотрудников
                </button>
            </div>

            <div class="collapse" id="collapseExampleInactive">
                <div class="card card-body" style="background-color:#130518;color:#198754!important;">
                    {% if inactive_employees %}
                    <ul>
                        {% for employee in inactive_employees %}
                        <li class="m-top"><a href="{% url 'users:user_profile' employee.0.id %}" target="_blank">
                            {{ employee.0 }}
                        </a></li>
                        <li>Дней отсутствует:{{employee.2}}({{employee.1}})</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="my-selection">
                <button class="btn-grad btn-gradient-border btn-glow" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExampleMissingWork"
                        aria-expanded="false" aria-controls="collapseExampleMissingWork">
                    Нет выполненых работ
                </button>
            </div>
            <div class="collapse" id="collapseExampleMissingWork">
                <div class="card card-body" style="background-color:#130518;color:#198754!important;">
                    <ul>
                        {% for key, value in missing_appointments_dict.items %}
                        <li class="m-top">{{ key }}</li>
                        {% for i in value %}
                        <li><a href="{% url 'users:user_profile' i.id %}" target="_blank">
                            {{ i }}
                        </a></li>
                        {% endfor %}
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="my-selection">
                <button class="btn-grad btn-gradient-border btn-glow" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExampleMissingApp"
                        aria-expanded="false" aria-controls="collapseExampleMissingApp">
                    Нет в графике, но есть работы
                </button>
            </div>
            <div class="collapse" id="collapseExampleMissingApp">
                <div class="card card-body" style="background-color:#130518;color:#198754!important;">
                    <ul>
                        {% for key, value in missing_work_records_dict.items %}
                        <li class="m-top">{{ key }}</li>
                        {% for i in value %}
                        <li>
                            <a href="{% url 'completed_works:workrecord_detail' i.id %}" target="_blank">
                                {{ i.user }}
                            </a>
                        </li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="my-selection">
                <button class="btn-grad btn-gradient-border btn-glow" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExampleGood"
                        aria-expanded="false" aria-controls="collapseExampleGood">
                    Кф больше 200%
                </button>
            </div>
            <div class="collapse" id="collapseExampleGood">
                <div class="card card-body" style="background-color:#130518;color:#198754!important;">
                    <ul>
                        {% for key, value in very_good_works.items %}
                        <li class="m-top">{{ key }}</li>
                        {% for i in value %}
                        <li>
                            <a href="{% url 'users:user_profile' i.0.user.id %}" target="_blank">
                                {{ i.0.user }}
                            </a>
                            <a href="{% url 'completed_works:workrecord_detail' i.0.id %}" target="_blank">
                                {{ i.1 }}%
                            </a>
                        </li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcache %}
{% endblock %}
