{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags_choice_date %}

{% block title %}
{% trans 'Расчетный лист' %}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}

<h2>Детали расчетного листа</h2>
<br>

<div>
    {% if pay_sheet.week %}
    <p>{{ pay_sheet.year }} год {{ pay_sheet.week }} неделя </p>
    <p>С {{ monday }} по {{ sunday }} </p>
    {% else %}
    <p>{{ pay_sheet.year }} год {{ pay_sheet.month }} месяц </p>
    {% endif %}
    <br>
    <p>Сотрудник:
        {% if pay_sheet.user.last_name %}
            {{ pay_sheet.user.last_name }} {{ pay_sheet.user.first_name }}
        {% else %}
        {{ pay_sheet.user }}
        {%endif%}
    </p>
    <p>Созданно: {{ pay_sheet.created_at }}</p>
    <p>Обновленно: {{ pay_sheet.updated_at }}</p>
    <br>
    <p>Должность: {{ pay_sheet.role }} </p>
    <p>Ставка: {{ pay_sheet.role_salary }} руб./час</p>
    <p>Часы: {{ pay_sheet.hours }} ч.</p>
    <p>Зарплата по ставке: {{ pay_sheet.salary }} руб.</p>
    <p>Отработанно дней по 12 часов: {{ pay_sheet.count_of_12 }}</p>
    <p>Коэффициент: {{ pay_sheet.kf }} %</p>
    <p>Премия: {{ pay_sheet.bonus }} руб.</p>
    <p>Штраф: {{ pay_sheet.penalty }} руб.</p>
    <br>

    <p>Комментарий: {{ pay_sheet.comment }}</p>
    <br>

    <p>Итоговая зарплата: {{ pay_sheet.result_salary }} руб.</p>
    <br>
    <p>Выполненные работы: {{ pay_sheet.works }}</p>

</div>


{% endblock %}