{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% load custom_filters %}
{% load custom_tags_choice_date %}

{% block title %}
{% trans 'Расчетные листы' %}
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'my_js/table.js' %}"></script>

{% endblock %}

{% block content %}
<style>
    .card.card-body {
    background-color: inherit;
    }
    #myInput {
      background-image: url('/css/searchicon.png'); /* Добавить значок поиска для ввода */
      background-position: 10px 12px; /* Расположите значок поиска */
      background-repeat: no-repeat; /* Не повторяйте изображение значка */
      width: 100%; /* Полная ширина */
      font-size: 16px; /* Увеличить размер шрифта */
      padding: 12px 20px 12px 40px; /* Добавить немного отступов */
      border: 1px solid #ddd; /* Добавить серую границу */
      margin-bottom: 12px; /* Добавить некоторое пространство под входом */
    }
    .mark-page4 {
            z-index: 9;
            right: 0%;
            bottom: 80%;
            animation: move5 8s infinite linear;
        }
</style>
{% choice_date_month year month first_day last_day %}

<div class="container" style="margin: 0; margin-top: 20px;width: 100%;">
    <div class="row align-items-start">
        <div class="col">
            <h3>С {{monday}} по {{sunday}}</h3>
            <br><br>
            <p style="font-size: 16px;">Всего часов отработано: {{ total_hours }} ч.</p>
            <p style="font-size: 16px;">По графику насчитано: {{ total_salary }} р.</p>
            <p style="font-size: 16px;">Итого к выплате: {{ total_result_salary }} р.</p>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <button class="btn-grad btn-gradient-border btn-glow" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Все расчетные листы {{pay_sheets.count}}
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body" style="background-color:#130518;color:#198754!important;">
                    <ol class="list-group list-group-numbered" style="font-size:14px;">
                        {% for item in pay_sheets %}
                        <li class="list-group-item" style="background-color:#130518;">
                            <a href="{% url 'pay_sheet:pay_sheet_detail' item.id item|model_name %}">{{item}}</a>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            {% if flag_button %}
            <button class="btn-grad btn-gradient-border btn-glow" onclick="saveTableData({{month}}, {{year}}, {{month}})">
                Сформировать расчетные листы
            </button>
            {% else %}
            <button class="btn-grad btn-gradient-border btn-glow" disabled>Сформировать расчетные листы</button>
            <br>
            <p class="text-center">Когда ты уже всё, а месяц еще нет</p>
            {%endif%}
        </div>
    </div>
</div>

<br><br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск имен..">
<table class="display nowrap dataTable dtr-inline collapsed sortable" id="{{month}}">
    <thead>
    <tr style="font-size: 16px;">
        <th scope="col" style="width: 3%;">№</th>
        <th scope="col" style="width: 15%;">Сотрудник</th>
        <th scope="col" style="width: 10%;">Должность</th>
        <th scope="col" style="width: 7%;">Ставка/Оклад</th>
        <th scope="col" style="width: 7%;">Отработано часов</th>
        <th scope="col" style="width: 7%;">Сумма</th>
        <th scope="col" style="width: 11%;">Работы</th>
        <th scope="col" style="width: 5%;">Дней по 12 часов</th>
        <th scope="col" style="width: 8%;">Коэффицент</th>
        <th scope="col" style="width: 7%;">Итоговая сумма</th>
        <th scope="col" style="width: 10%;">Премия</th>
        <th scope="col" style="width: 10%;">Штраф</th>
        <th scope="col" style="width: 10%;">Комментарий</th>
    </tr>
    </thead>
    <tbody>
    {% for user, value in users_dict.items %}
    <tr style="font-size: 16px;">
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            <a href="{% url 'users:user_profile' user.id %}">
                {{user}}
                <br>
                тел:{{user.phone_number}}
                <br>
                карта:{{user.card_details}}
            </a></td>
        <td>{{user.role.name}}</td>
        <td>{{user.role.salary}}</td>

        <td>{{value.hours}}</td>
        <td>{{value.salary}}</td>

        <td>
            <p>
                <a class="btn-lg" data-bs-toggle="collapse" href="#collapseExample{{ forloop.counter }}" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Все работы
                </a>
            </p>
            <div class="collapse" id="collapseExample{{ forloop.counter }}">
                <div class="card card-body">
                    {% for i, j in value.works.items %}
                    <span style="font-size: 12px!important;">{{i}} - {{j.0}};</span>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </td>

        <td>{{value.count_of_12}}</td>
        <td>{{value.kf}}</td>
        <td>{{value.result_salary}}</td>
        <td>
            <input type="number" name="bonus" placeholder="Премия" min="0" value="{{value.bonus}}">
        </td>
        <td>
            <input type="number" name="penalty" placeholder="Штраф" min="0" value="{{value.penalty}}">
        </td>
        <td>{{value.comment}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script>
    function saveTableData(tableId, year, month) {
    const table = document.getElementById(tableId);
    const rowDataList = [];
    if (!table) {
        console.error('Таблица не найдена');
        return;
    }

    const rows = table.querySelectorAll('tbody tr');

    rows.forEach(function (row) {
        const rowData = [];
        const cells = row.querySelectorAll('td');

        cells.forEach(function (cell) {
            const input = cell.querySelector('input[type="number"]');
            if (input) {
                const name = input.name;
                const value = input.value;
                rowData.push(value)
            } else {
                rowData.push(cell.textContent);
            }
        });

        rowDataList.push(rowData)
    });

    const xhr = new XMLHttpRequest();
    var csrftoken = getCookie('csrftoken');
    xhr.open('POST', '/pay_sheet/created_salary_check/', true); // Замените на реальный URL сервера
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-CSRFToken', csrftoken);

    xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                console.log('Данные успешно отправлены на сервер');
                location.reload();
                // Здесь можно обрабатывать ответ сервера, если необходимо
            } else {
                console.error('Произошла ошибка при отправке данных на сервер');
            }
        }
    };

    const dataToSend = {
        rowData: rowDataList,
        year: year,
        month: month,
        };
    xhr.send(JSON.stringify(dataToSend));
    }
</script>
<script>
    let table = new DataTable('#{{week}}');
    $(document).ready( function () {
        $('#{{week}}').DataTable();
    } );
</script>
<script>
    function myFunction() {
      // Объявить переменные
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("{{week}}");
      tr = table.getElementsByTagName("tr");

      // Перебирайте все строки таблицы и скрывайте тех, кто не соответствует поисковому запросу
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>
{% endblock %}