<!doctype html>
{% load cache %}
{% load i18n %}
{% load static %}
<html lang="en" class="light-theme">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'assets/images/favicon-32x32.png' %} " type="image/png"/>
    <!--plugins-->
    <link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %} " rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/bootstrap-extended.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/style.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/icons.css' %} " rel="stylesheet">
    <!-- loader-->
    <link href="{% static 'assets/css/pace.min.css' %} " rel="stylesheet"/>
    <!--Theme Styles-->
    <link href="{% static 'assets/css/dark-theme.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/light-theme.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/semi-dark.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/header-colors.css' %} " rel="stylesheet"/>

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'nufti/assets/dist/style.css' %} ">

    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="{% static 'nufti/assets/dist/responsive.css' %} ">

    {% block link %}{% endblock %}
    <title>{% block title %} {% trans 'Главная страница' %} {% endblock %}</title>
    <style>
        .page-content{
            margin-left: 50px!important;
            margin-top: 90px!important;
        }
        .alert {
            width: auto;
            height: auto;
            margin: 0 auto;
            margin-bottom: 20px;
            display: flex;
            justify-content: center; /* Это центрирует содержимое по горизонтали */
            align-items: center; /* Это центрирует содержимое по вертикали */
            /* Добавьте другие стили, если необходимо */
        }
    </style>
</head>
<body>
{% block nav %}
<header id="header_main" class="header_1 js-header">
    <div class="themes-container">
        <div class="row">
            <div class="col-md-12">
                <div id="site-header-inner">
                    <div class="wrap-box flex">
                        <div id="site-logo" class="clearfix">
                            <div id="site-logo-inner">
                            </div>
                        </div>
                        <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
                        <nav id="main-nav" class="main-nav">
                            <ul id="menu-primary-menu" class="menu">
                                <li class="menu-item menu-item-has-children current-menu-item">
                                    <a href="#">График</a>
                                    {% if request.user.is_authenticated %}
                                    <ul class="sub-menu" style="display: block;">
                                        <li class="menu-item"><a href="{% url 'work:work_page' %}">
                                            Подать заявку</a></li>
                                        <li class="menu-item"><a href="{% url 'work:graf_user' %}">
                                            Мой График
                                        </a></li>
                                        {% if request.user.is_staff %}
                                        <li class="menu-item">
                                            <a href="{% url 'work:edit_work' %}">
                                                Редактировать
                                            </a></li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                <li class="menu-item menu-item-has-children current-menu-item">
                                    <a href="#">Выполненные работы</a>
                                    {% if request.user.is_authenticated %}
                                    <ul class="sub-menu" style="display: block;">
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:completed_works' %}">
                                                Заполнить <br>на сегодня
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:completed_works_view' %}">
                                                Мои листы
                                            </a>
                                        </li>
                                        {% if request.user.is_staff %}
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:completed_works_view_admin_add' %}">
                                                Добавить лист
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:completed_works_view_admin' %}">
                                                Проверить листы
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% if request.user.is_staff %}
                                <li class="menu-item">
                                    <a href="{% url 'effectiveness:effectiveness' %}">Эффективность</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://mycego.ru/admin/">Админка</a>
                                </li>
                                {% endif %}

                                <li class="menu-item">
                                    <a href="{% url 'users:staff' %}">Сотрудники</a>
                                </li>
                                {% if not request.user.is_authenticated %}
                                <li>
                                    <a class="menu-item" href="{% url 'users:login' %}">Вход</a>
                                </li>
                                {% else %}
                                <li class="menu-item menu-item-has-children current-menu-item">
                                    <a href="#">{{ user.username }}</a>
                                    <ul class="sub-menu" style="display: block;">
                                        <li class="menu-item">
                                            <a href="{% url 'users:profile' %}">
                                                Мой профиль
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'users:edit_profile' %}">
                                                Редактировать профиль
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                Расчетный лист
                                            </a>
                                        </li>
                                        {% if request.user.is_staff %}
                                        <li class="menu-item">
                                            <a href="{% url 'pay_sheet:pay_sheet' %}">
                                                Расчетные листы
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'effectiveness:effectiveness_statistic' %}">
                                                Статистика
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a class="menu-item" href="{% url 'users:logout' %}">Выход</a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif%}
                            </ul>
                        </nav><!-- /#main-nav -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="mode_switcher">
        <a href="#" onclick="switchTheme()" class="light d-flex align-items-center">
            <img src="{% static 'nufti/assets/images/icon/sun.png' %}" alt="">
        </a>
        <a href="#" onclick="switchTheme()" class="dark d-flex align-items-center is_active">
            <img src="{% static 'nufti/assets/images/icon/moon.png' %}" alt="">
        </a>
    </div>

</header>
{% endblock %}

<main class="page-content">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{{ message }}</h4>
    </div>
    {% endfor %}
    {% endif %}
    <br><br><br>
    {% block content %}
    {% endblock %}

</main>

<script src="{% static 'assets/js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'nufti/assets/js/jquery.easing.js' %}"></script>
<script src="{% static 'nufti/assets/js/swiper.js' %}"></script>
<script src="{% static 'nufti/assets/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'nufti/assets/js/plugin.js' %}"></script>
<script src="{% static 'nufti/assets/js/count-down.js' %}"></script>
<script src="{% static 'nufti/assets/js/shortcodes.js' %}"></script>
<script src="{% static 'nufti/assets/js/main.js' %}"></script>
<script src="{% static 'nufti/assets/js/countto.js' %}"></script>
<script src="{% static 'nufti/assets/js/switchmode.js' %}"></script>
<script src="{% static 'nufti/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'nufti/assets/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'nufti/assets/js/wow.min.js' %}"></script>

<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

</body>

</html>