<!doctype html>
{% load cache %}
{% load i18n %}
{% load static %}
{% cache 6000 main_head %}
<html lang="en" class="light-theme">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'assets/images/favicon-32x32.png' %} " type="image/png"/>
    <!--plugins-->
    <link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %} " rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/bootstrap-extended.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/style.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/icons.css' %} " rel="stylesheet">
    <!-- loader-->
    <link href="{% static 'assets/css/pace.min.css' %} " rel="stylesheet"/>
    <!--Theme Styles-->
    <link href="{% static 'assets/css/dark-theme.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/light-theme.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/semi-dark.css' %} " rel="stylesheet"/>
    <link href="{% static 'assets/css/header-colors.css' %} " rel="stylesheet"/>

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'nufti/assets/dist/style.css' %} ">

    <!-- Reponsive -->
    <link rel="stylesheet" type="text/css" href="{% static 'nufti/assets/dist/responsive.css' %} ">
    <link rel="stylesheet" href="{% static 'calendar/calendar.css' %}">
    <link rel="stylesheet" href="{% static 'my_css/buttons.css' %}">

    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'calendar/calendar.js' %}"></script>
    <script src="{% static 'my_js/table.js' %}"></script>
    <script src="{% static 'my_js/myjs.js' %}"></script>

    <style>
        .page-content{
            margin-left: 50px!important;
            margin-top: 90px!important;
        }
        .alert {
            width: auto;
            height: auto;
            margin: 0 auto;
            margin-bottom: 20px;
            display: flex;
            justify-content: center; /* Это центрирует содержимое по горизонтали */
            align-items: center; /* Это центрирует содержимое по вертикали */
            /* Добавьте другие стили, если необходимо */
        }
        .mark-page2 {
            left: 0.8%;
            top: 2.6%;
            z-index: 1000;
        }
        .mark-page3 {
            left: 0.8%;
            top: 50.6%;
            animation: move3 8s infinite linear;
            z-index: 1000;
        }
        .mark-page4 {
            zz-index: 1000;
            right: 0%;
            bottom: 0%;
            animation: move5 8s infinite linear;
        }
        .header_1 {left: 0;}
        .header_1 #main-nav {left: 14.3%;}
    </style>
    {% endcache %}

    <title>{% block title %} {% trans 'Главная страница' %} {% endblock %}</title>
    {% block link %}{% endblock %}
</head>
<body>

{% block nav %}
{% cache 600 nav request.user.id %}
<header id="header_main" class="header_1 js-header">
    <div class="themes-container">
        <div class="row">
            <div class="col-md-12">
                <div id="site-header-inner">
                    <div class="wrap-box flex">
                        <div id="site-logo" class="clearfix">
                            <div id="site-logo-inner">
                            </div>
                        </div>
                        <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
                        <nav id="main-nav" class="main-nav" style="justify-content: center;">
                            <ul id="menu-primary-menu" class="menu">
                                <li class="menu-item">
                                    <a href="{% url 'main_site:main_site' %}">На главную</a>
                                </li>
                                <li class="menu-item menu-item-has-children current-menu-item">
                                    <a href="#">График</a>
                                    {% if request.user.is_authenticated %}
                                    <ul class="sub-menu" style="display: block;">
                                        <li class="menu-item"><a href="{% url 'work:work_page' %}">
                                            Подать заявку</a></li>
                                        <li class="menu-item"><a href="{% url 'work:graf_user' %}">
                                            Мой График
                                        </a>
                                        </li>
                                        <li class="menu-item"><a href="{% url 'work:create_vacation_request' %}">
                                            Заявка на отпуск
                                        </a>
                                        </li>
                                        {% if request.user.is_staff %}
                                        <li class="menu-item">
                                            <a href="{% url 'work:finger_print' %}">
                                                Отпечатки
                                            </a></li>
                                        <li class="menu-item">
                                            <a href="{% url 'work:vacation_admin' %}">
                                                Все заявки <br>на отпуск
                                            </a></li>
                                        <li class="menu-item">
                                            <a href="{% url 'work:edit_work' %}">
                                                Редактировать <br>график
                                            </a></li>
                                        <li class="menu-item">
                                            <a href="{% url 'work:edit_work_month' %}">
                                                Редактировать <br>график на месяц
                                            </a></li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                <li class="menu-item menu-item-has-children current-menu-item">
                                    <a href="#">Выполненные работы</a>
                                    {% if request.user.is_authenticated %}
                                    <ul class="sub-menu" style="display: block;">
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:completed_works' %}">
                                                Заполнить <br>на сегодня
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:delivery' %}">
                                                Поставки New
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:completed_works_view' %}">
                                                Мои листы
                                            </a>
                                        </li>
                                        {% if request.user.is_staff %}
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:completed_works_view_admin_add' %}">
                                                Добавить лист<br> на день
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:completed_works_delivery_admin' %}">
                                                Добавить лист<br> поставки
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:delivery_view_admin' %}">
                                                Поставки <br>админ New
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'completed_works:completed_works_view_admin' %}">
                                                Проверить листы
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'main_site:knowledge_category' %}">База знаний</a>
                                </li>
                                <li class="menu-item">
                                    <a href="{% url 'users:staff' %}">Сотрудники</a>
                                </li>

                                {% if request.user.is_staff %}
                                <li class="menu-item">
                                    <a href="https://mycego.ru/admin/">Админка</a>
                                </li>
                                {% endif %}

                                {% if not request.user.is_authenticated %}
                                <li>
                                    <a class="menu-item" href="{% url 'users:login' %}">Вход</a>
                                </li>
                                {% else %}
                                <li class="menu-item menu-item-has-children current-menu-item">
                                    <a href="#">{{ user.username }}</a>
                                    <ul class="sub-menu" style="display: block;">
                                        <li class="menu-item">
                                            <a href="{% url 'users:user_profile' request.user.id %}">
                                                Мой профиль
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'users:edit_profile' %}">
                                                Редактировать профиль
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'pay_sheet:list_user_pay_sheets' %}">
                                                Расчетный лист
                                            </a>
                                        </li>
                                        {% if request.user.is_staff %}
                                        <li class="menu-item">
                                            <a href="{% url 'pay_sheet:pay_sheet' %}">
                                                Расчетные листы
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'effectiveness:statistic_main' %}">
                                                Статистика
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'download:download' %}">
                                                Загрузить файлы
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a class="menu-item" href="{% url 'users:logout' %}">Выход</a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif%}
                            </ul>
                        </nav><!-- /#main-nav -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--    <div class="mode_switcher">-->
    <!--        <a href="#" onclick="switchTheme()" class="light d-flex align-items-center">-->
    <!--            <img src="{% static 'nufti/assets/images/icon/sun.png' %}" alt="">-->
    <!--        </a>-->
    <!--        <a href="#" onclick="switchTheme()" class="dark d-flex align-items-center is_active">-->
    <!--            <img src="{% static 'nufti/assets/images/icon/moon.png' %}" alt="">-->
    <!--        </a>-->
    <!--    </div>-->

</header>
{% endcache %}
{% endblock %}

<main class="page-content">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">{{ message }}</h4>
    </div>
    {% elif message.tags == 'warning' %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{ message }}</h4>
    </div>
    {% elif message.tags == 'info' %}
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">{{ message }}</h4>
    </div>
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{{ message }}</h4>
    </div>
    {% else %}
    <div class="alert" role="alert">
        <h4 class="alert-heading">{{ message }}</h4>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <br><br><br>
    {% block content %}
    {% endblock %}

</main>
{% cache 6000 scripts %}
<img class="absolute mark-page4 draggable" src="{% static 'nufti/assets/images/icon/mark-header-03.png' %}" alt="">
<img class="absolute mark-page2 animate-rotate draggable"
     src="{% static 'nufti/assets/images/icon/mark-header-01.png' %}"
     alt="">
<script>
    let currentlyDragged = null;

    document.addEventListener('mousedown', (e) => {
        const target = e.target;
        if (e.ctrlKey && target.classList.contains('draggable')) {
            const clone = target.cloneNode(true); // Клонировать изображение
            document.body.appendChild(clone); // Добавить клон на страницу
            currentlyDragged = clone;
            currentlyDragged.style.cursor = 'grabbing';
            currentlyDragged.style.zIndex = 1001;
        } else if (target.classList.contains('draggable')) {
            currentlyDragged = target;
            currentlyDragged.style.cursor = 'grabbing';
            currentlyDragged.style.zIndex = 1001;
        }
    });

    document.addEventListener('mousemove', (e) => {
        if (currentlyDragged) {
            const rect = currentlyDragged.getBoundingClientRect();
            const offsetX = e.clientX - rect.width / 2;
            const offsetY = e.clientY - rect.height / 2;

            currentlyDragged.style.left = offsetX + 'px';
            currentlyDragged.style.top = offsetY + 'px';
        }
    });

    document.addEventListener('mouseup', () => {
        if (currentlyDragged) {
            currentlyDragged.style.cursor = 'grab';
            currentlyDragged.style.zIndex = 1000;
            currentlyDragged = null;
        }
    });
</script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'nufti/assets/js/jquery.easing.js' %}"></script>
<script src="{% static 'nufti/assets/js/swiper.js' %}"></script>
<script src="{% static 'nufti/assets/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'nufti/assets/js/plugin.js' %}"></script>
<script src="{% static 'nufti/assets/js/count-down.js' %}"></script>
<script src="{% static 'nufti/assets/js/shortcodes.js' %}"></script>
<script src="{% static 'nufti/assets/js/main.js' %}"></script>
<script src="{% static 'nufti/assets/js/countto.js' %}"></script>
<script src="{% static 'nufti/assets/js/switchmode.js' %}"></script>
<script src="{% static 'nufti/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'nufti/assets/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'nufti/assets/js/wow.min.js' %}"></script>

{% endcache %}
</body>
</html>
